name: Deploy
on:
  workflow_call:
    secrets:
      aws-access-key-id:
        description: "access key id for ecr"
        required: true
      aws-secret-access-key:
        description: "secret access key for ecr"
        required: true
      helm-repo-access-key:
        description: "clone into devops repo"
        required: true
  workflow_dispatch:
    inputs:
      target-env:
        type: choice
        description: Environment to deploy to
        default: develop
        required: true
        options:
          - develop
      confirm-env:
        type: string
        description: Confirm the environment to deploy
        required: true
        default: develop
jobs:
  create-secrets:
    runs-on: ubuntu-20.04
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          aws-region: us-east-1
      - name: create secrets
        id: create-secrets
        run: |
          #download secret from AWS
          echo "env: $TARGET_ENV"
          SECRETS="secret-$TARGET_ENV.yaml"
          secret_arn=$(aws secretsmanager list-secrets --query "SecretList[?Tags[?Key=='deployment' && Value=='$TARGET_ENV']]" | jq -r '.[0].ARN')
          echo $(aws secretsmanager get-secret-value --secret-id $secret_arn | jq -r '.SecretString') > $SECRETS_FILE_PATH
          python .github/workflows/scripts/secrets-creator.py
          cd secrets
          ls
          kubectl apply -f . -n $TARGET_ENV
        env:
          TARGET_ENV: develop
          SECRETS_FILE_PATH: ./values-secrets-raw.json
          SECRETS_TEMPLATE_FILE_PATH: .github/workflows/scripts/secret_template.yaml
